<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>{{ question.title }}</h1>
        <hr>
        <p>{{ question.created_at|date:'y.m.d'}}</p>
        <p>조회 {{ question.hit }}</p>
        <p>좋아요 {{ total_likes }}</p>
        <p>{{ username }}</p>
        {% for tag in tags %}
            <div class="btn btn-primary">
                {{ tag.tag_name }}
            </div>
        {% endfor %}
        <hr>
        <h3>{{ question.content }}</h3>
        <hr>
        <p>답변 {{answers_count}}개 </p>
        {% for answer in answers %}
            <div>
                <img src= '/media/{{ answer.user.img }}'' height="220" width="160">
                <h2>{{ answer.user }}</h2>
                <p>{{ answer.created_at|date:'y.m.d  h:i'}}</p>
                <div>
                    <p>{{ answer.content }}</p>
                    <p>좋아요 {{ answer.like_user.all | length }} </p>
                </div>
            </div>
            <hr>
        {% endfor %}
        

    </main>
</body>
</html>