{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/question_create.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/qna_create.js" defer></script>
{% endblock %} 

{% block content %}
<div>
    <h3>질문 등록</h3>
    <h4>질문 게시글 등록 페이지입니다.</h4>
</div>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="title">질문 제목</label><br />
        <input type="text" name="title" id="title" 
        value="{% if original_information %}{{ original_information.title }}{% else %}{{ question.title }}{% endif %}"/>
        {{ error_messages.title }}

    </div>
    <div>
        <label for="content">질문 내용</label><br />
        <textarea name="content" id="content" cols="30" rows="10">{% if original_information %}{{ original_information.content }}{% else %}{{ question.content }}{% endif %}</textarea>
        {{ error_messages.content }}
    </div>
    <div class="post-create__img post-create__form">
        <div class="text-container">
            <span>사진</span>
        </div>
        <div class="group-post__form-box">
            <input class="group-post__form-input group-post__form-input--image" placeholder="첨부파일">
            <label for="image" class="group-post__form-label">사진 올리기</label>
            <input type="file" id="image" class="form__input--file" name="image" value="{% if post.image %}{{ post.image.url }}{% endif %}">
        </div>
    </div>
    <div class="post-create__attached-file post-create__form">
        <div class="text-container">
            <span>파일</span>
        </div>
        <div class="group-post__form-box">
            <input class="group-post__form-input group-post__form-input--file"  placeholder="첨부파일" >
            <label for="attached_file" class="group-post__form-label">파일 올리기</label>
            <input type="file" class="form__input--file" id="attached_file" name="attached_file" value="{{ form.attached_file.url }}">
        </div>
    </div>
    {% comment %}
    
    <div>
        <label for="image">이미지 업로드</label><br />
        <p>{{ form.image }}</p>
        {{ original_information.image }}
    </div>
    
    <div>
        <label for="attached_file">파일 업로드</label><br />
        <p>{{ form.attached_file }}</p>
    </div>
    {% endcomment %}
    <div class="select__category">
        <p>카테고리 선택</p>
        <input type="radio" name="s_or_e_tag" value="S" id="scratch" class="tag" 
        {% if original_information.s_or_e_tag == 'S' or question.s_or_e_tag == 'S' %} checked {% endif %}/>
        <label for="scratch">스크래치</label>
        <input type="radio" name="s_or_e_tag" value="E" id="entry" class="tag" 
        {% if original_information.s_or_e_tag == 'E' or question.s_or_e_tag == 'E'%} checked {% endif %}/>
        <label for="entry">엔트리</label>
        <input type="radio" name="s_or_e_tag" value="ETC" id="etc" class="tag" 
        {% if original_information.s_or_e_tag == 'ETC' or question.s_or_e_tag == 'ETC' %} checked {% endif %}/>
        <label for="etc">기타</label>
    </div>
    <span style="color: red;">{{ error_messages.s_or_e_tag }}</span>
    <div class="select__tag">
        <p>상세 태그 선택</p>
        <input type="checkbox" name="detail_tag" value="동작" id="motion" class="tag" {% if '동작' in basic_tag_names %} checked {% endif %} />
        <label for="motion">동작</label>
        <input type="checkbox" name="detail_tag" value="형태" id="looks" class="tag"  {% if '형태' in basic_tag_names %} checked {% endif %} />
        <label for="looks">형태</label>
        <input type="checkbox" name="detail_tag" value="소리" id="sound" class="tag" {% if '소리' in basic_tag_names %} checked  {% endif %}/>
        <label for="sound">소리</label>
        <input type="checkbox" name="detail_tag" value="이벤트" id="events" class="tag"{% if '이벤트' in basic_tag_names %} checked {% endif %} />
        <label for="events">이벤트</label>
        <input type="checkbox" name="detail_tag" value="제어" id="control" class="tag" {% if '제어' in basic_tag_names %} checked  {% endif %}/>
        <label for="control">제어</label>
        <input type="checkbox" name="detail_tag" value="감지" id="sensing" class="tag" {% if '감지' in basic_tag_names %} checked  {% endif %}/>
        <label for="sensing">감지</label>
        <input type="checkbox" name="detail_tag" value="연산" id="operators" class="tag "{% if '연산' in basic_tag_names %} checked  {% endif %}/>
        <label for="operators">연산</label>
        <input type="checkbox" name="detail_tag" value="변수" id="variables" class="tag" {% if '변수' in basic_tag_names %} checked  {% endif %}/>
        <label for="variables">변수</label>
        <input type="checkbox" name="detail_tag" value="내 블록" id="my" class="tag" {% if '내 블록' in basic_tag_names %} checked {% endif %}/>
        <label for="my">내 블록</label>
        <input type="checkbox" name="detail_tag" value="기타" id="detail_etc" class="tag" {% if '기타' in basic_tag_names %} checked {% endif %}/>
        <label for="detail_etc">기타</label>

        {% for extra_tag in extra_tag_names %}
        <input type="checkbox" name="detail_tag" value="{{ extra_tag }}" id="{{ extra_tag }}" class="tag" checked/>
        <label for="{{ extra_tag }}">{{ extra_tag }}</label>
        {% endfor %}
         
        <input type="checkbox" name="add_tag" value="ADD_TAG" id="add_tag" class="tag" />
        <label for="add_tag">태그 추가</label>
    </div>
    <div class="tag_input_box"></div>
    <div>
        <button type="submit">질문 등록</button>
        <a href="{% url 'qna:question_list' %}">취소</a>
    </div>
</form>

{% endblock %}