* {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
}

p {
  margin: 0;
  word-break: break-word;
}

html, body {
    /* footer 하단 고정 */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrap {
    min-height: 100%;
}

header {
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 20; /* 그룹 홈 게시판 - position으로 인해 헤더가 밑으로 깔리는 오류 수정 */
}

.header__nav-container {
  height: 80px;
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
}

header li,
header a {
  color: #4e4e4e;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.header__nav-left {
  display: flex;
  align-items: center;
  gap: 67px;
}

.header__nav-left > ul,
.header__nav-right > ul {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__mypagecontainer {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  padding-bottom: 30px;
  margin-top: 30px;
}

.header__mypagebtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c4c4c4;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #C4C4C4; */
}

.header__mypage-dropdown {
    display: none;
    top: 0;
    right: 0;
    width: 300px;
    position: absolute;
    background-color: white;
    padding: 0;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    z-index: 1;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 60px;
}

.header__mypagecontainer:hover .header__mypage-dropdown {
  display: flex;
}

.mypage-dropdown__userprofile {
  display: flex;
  align-items: center;
  padding: 25px 20px;
  gap: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.mypage-dropdown__userprofile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-dropdown__userprofile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mypage-dropdown__userprofile-name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.mypage-dropdown__userprofile-name :first-child {
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}

.mypage-dropdown__userprofile-name :last-child {
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  margin: 0;
}

.header__mypage-dropdown a {
  width: 100%;
  padding: 15px 20px;
  text-decoration: none;
}

.header__mypage-dropdown a:hover {
  background-color: #f1f1f1;
}

.mypage-dropdown__mypagebtn {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #828282;
  border-bottom: 1px solid #e5e5e5;
}

.mypage-dropdown__logoutbtn {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #eb6464;
}

section {
  width: 1080px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

/* 알림창 드롭다운 부분 */

.header__alertcontainer:hover .header__alert-dropdown {
  display: flex;
}
.header__alertcontainer {
  position: relative;
  padding-bottom: 30px;
  margin-top: 30px;
  padding-left: 30px;
}

.header__alert-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #37c6e5;
  position: absolute;
  color: #37c6e5;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  left: 53px;
  top: 0px;
}

.header__alert-dropdown {
  display: none;
  top: 0;
  right: -10px;
  position: absolute;
  background-color: white;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  z-index: 1;
  /* display: flex; */
  flex-direction: column;
  margin-top: 54px;
  width: 500px;
}

#check-all-alert-button,
#check-all-alert-button-modal,
#check-alert-button,
.alert__container > button,
.header__alert > button {
  height: 29px;
  border-radius: 15px;
  border: 1px solid #37c6e5;
  color: #37c6e5;
  font-weight: bold;
  font-size: 18px;
  padding: 4px 15px 5px;
  line-height: 100%;
  background-color: white;
  transition: 0.1s;
}

.check-alert-button {
  z-index: 22;
}


.header__alert > button:hover, #check-all-alert-button-modal:hover {
  background-color: #37c6e5;
  color: white;
}
.header__alert-dropdown > div {
  width: 100%;
}
.header__alert-dropdown > div:first-of-type {
  padding: 25px 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}

.header__alert-dropdown > div:last-of-type {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

.header__alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  max-height: 210px;
  overflow: auto;
}

.header__alert {
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__alert:hover {
  background-color: #f1f1f1;
}

.header__alert:last-of-type {
  border-bottom: none;
}

.header__alert > a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__alert span {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 330px;
}
/* 안 읽으면 파란 점으로 표시, 읽으면  투명 */
.alert__dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.alert__dot-unread {
  background-color: #37c6e5;
}

.alert__dot-read {
  background-color: transparent;
}

/* 게시판 글이 없을 때 */
.no-post__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  height: 420px;
}

.no-post__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.no-post__text h2 {
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 105%;
  color: #4f4f4f;
  margin-bottom: 10px;
}

.no-post__btnbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/* 버튼 기본 형태 */

button, button.bluebtn {
  border: 1px solid #37c6e5;
  color: #37c6e5;
  background-color: white;
  transition: 0.1s;
}

button.bluebtn:hover {
  background-color: #37c6e5;
  color: white;
}

button.bluebtn > a {
  color: #37c6e5;
  text-decoration: none;
  transition: 0.1s;
}

button.bluebtn:hover > a {
  color: white !important;
}

button.greybtn {
  border: 1px solid #bdbdbd !important;
  background-color: white;
}

button.greybtn:hover {
  background-color: #bdbdbd;
  color: white;
}

button.greybtn > a {
  color: #828282;
  text-decoration: none;
  transition: 0.1s;
}

button.greybtn:hover > a {
  color: white;
}

/* footer */
footer {
    background-color: #e9e9e9;
    /* footer 하단 고정 */
    bottom: 0px;
    margin-top: auto;
}

.footer__container {
    width: 1080px;
    height: 170px;   
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer__logo img {
    width: 180px;
    height: 60px;
}

.footer__text--intro-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.intro-box__top {
    width: 70px;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    line-height: 150%;
}

.intro-box__bottom {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
}

.intro-box__member span {
    padding-right: 5px;
}

.intro-box__member {
    display: flex;
    align-items: center;
}

.intro-box__bar {
    color: #afafaf;
    font-weight: bold;
}

.footer__contact-box {
    display: flex;
    flex-direction: column;
}

.intro-box__icon {
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer__contact-box svg {
    width: 60px;
    height: 60px;
}



