html, body, section {
    width: 100%;
    background-color: #F2F2F2;
}

.post-create__container {
    width: 1080px;
    margin: 0 auto;
}

/* 게시글 작성 상단 */
.post-create__top {
    display: flex;
    font-size: 36px;
    line-height: 150%;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 30px;
    /* border-bottom: 1px solid #BDBDBD; */
}

/* 게시글 작성 form */
.input-title {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    padding: 17px 32px 17px 20px;

    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
}

.input-content {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    padding: 17px 32px 17px 20px;

    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
}

/* 에러메시지 */
.input-error {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;
    padding: 10px 20px;
    margin: 10px 0px 6px 0px;

    background-color: #FFE6E6;
    border: 1px solid #eb6464;
    border-radius: 5px;
    box-sizing: border-box;
    color: #eb6464;
    font-weight: bold;
    font-size: 18px;
}

.post-create__input ::placeholder {
    font-family: Noto Sans CJK KR;
    color: #828282;
    font-size: 18px;
    line-height: 150%;
}

.text-container {
    margin-bottom: 10px;
    color: #4F4F4F;
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}

/* .group-post__form-input {
    display: none;
} */

.post-create__form {
    margin-bottom: 30px;
}

.group-post__form-box {
    display: flex;
    align-items: center;
}

.group-post__form-input {
    width: 50%;
    height: 50px;
    padding: 17px 32px 17px 20px;

    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

.group-post__form-label {
    height: 50px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #999999;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-family: Noto Sans CJK KR;
    font-size: 20px;
    line-height: 150%;
}

.form__input--file {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* .group-post__form-label {
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    cursor: pointer;

    color: #4E4E4E;
    text-align: center;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
} */

.group-post__form-label:hover {
    background-color: #4E4E4E;
    color: #ffffff;
}

.group-post__form-input--link {
    width: 50%;
    height: 50px;
    padding: 17px 32px 17px 20px;

    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

.group-post__form-input--link ::placeholder {
    font-family: Noto Sans CJK KR;
    color: #828282;
    font-size: 18px;
    line-height: 150%;
}

/* 카테고리 선택 */
.post-create__category {
    margin-bottom: 30px;
}

.category-text {
    display: flex;
    align-items: center;
}

.post-create__category-select input {
    display: none;
}

.post-create__category-select label {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    transition: 0.25s;
    padding: 10px 0;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
    width: 150px;

    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #4E4E4E;
}

.post-create__category-select > input:checked + label {
    background: #4cc4d4;
    color: #fff;
}

.post-create__error {
    padding-left: 15px;
    color: rgb(255, 60, 60);
    font-family: Noto Sans CJK KR;
    font-size: 18px;
}

/* 게시글 작성 하단 */
.post-create__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-save {
    border: 0;
    outline: 0;
    margin-right: 15px;

    width: 120px;
    height: 55px;
    padding: 20px;

    background: #37C6E6;
    border: 2px solid #37C6E6;
    box-sizing: border-box;
    border-radius: 41px;

    text-decoration: none;
    text-align: center;
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 25px;
    line-height: 50%;
    color: #ffffff;
}

.btn-return {
    width: 120px;
    height: 55px;
    padding: 20px;

    background: #FFFFFF;
    border: 2px solid #A6A6A6;
    box-sizing: border-box;
    border-radius: 41px;

    text-decoration: none;
    text-align: center;
    font-family: Noto Sans CJK KR;
    font-size: 25px;
    line-height: 50%;
    color: #A6A6A6;
}

.btn-save:hover, .btn-return:hover {
    color: black;
}