img {
    object-fit: cover;
}

button {
    all: unset;
}

/* 그룹 상단 */
.group-detail__container--top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container-top__title {
    display: flex;
    align-items: center;
}

.container-top__title--name {
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 47px;
    line-height: 150%;
    color: #000000;
}

.container-top__title--i {
    font-size: 48px;
    color: #707070;
    line-height: 150%;
    padding: 5px 0px 0px 10px;
}

/* 페이지 상단 버튼 */
.group-detail__container--button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.button-left__like {
    padding: 10px 24px 10px;
    background: #FF8989;
    border: 2px solid #FF8989;
    box-sizing: border-box;
    border-radius: 26px;
    cursor: pointer;
}

.button-left__like--private {
    display: hidden;
}

.button-left__like {
    font-size: 18px;
    color: #FFFFFF;
}

.button-left__like span {
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 22px;
    line-height: 105%;
    color: #FFFFFF;
    padding-left: 5px;
}

.container-button__right {
    display: flex;
    /* width: 400px; */
    /* justify-content: space-between; */
}

.container-button__btn {
    padding: 10px 24px 10px;
    background: #37C6E6;
    border: 2px solid #37C6E6;
    box-sizing: border-box;
    border-radius: 26px;
}

.star__group {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.group__keyword-star svg {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    cursor: pointer;
}

.star__group span, .btn-community span {
    display: flex;
    align-items: center;
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 22px;
    line-height: 105%;
    color: #FFFFFF;
}

.btn-community {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* 그룹 정보 */
.group-detail__container--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 2px solid #C4C4C4 ;
}

.container-info__image {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    width: 500px;
    height: 310px;
}

.container-info__image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.conatiner-info__content {
    width: 580px;
    height: 310px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box__top {
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 5px;
}

.text-box__bottom {
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #4E4E4E;
}

.text-box__bottom--intro {
    height: 90px;
    overflow-y: auto;
    margin-bottom: 0;

    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 19px;
    line-height: 150%;
    color: #4E4E4E;
}

/* 그룹 멤버 리스트 상단 */
.container-member__top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.member-top__left {
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #000000;
}

.member-top__right--public {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
}

.member-top__right--private {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

/* 모달 버튼 */
.top-right__button {
    display: flex;
    align-items: center;
    padding: 12px 20px 10px;
    background: #37C6E6;
    border: 2px solid #37C6E6;
    box-sizing: border-box;
    border-radius: 26px;
    cursor: pointer;
}

.top-right__button span {
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 22px;
    line-height: 105%;
    color: #FFFFFF;
}

/* 그룹 멤버 리스트 (멤버 명단) */
.container-member__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: relative;
}

.maker-icon {
    position: absolute;
    left: 133px;
    top: 18px;
    font-size: 25px;
}

.member-list__maker, .member-list__member {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1040px;
    padding: 20px 100px;
    border-bottom: 1px solid #BDBDBD;
    gap: 35px;
}

.member-list__maker--left, .member-list__member--left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.member-list__img img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.member-list__maker--text, .member-list__one--text {
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    height: 36px;
}

.member-list__maker--name {
    max-width: 200px;
}

.text__name a {
    text-decoration: none;
    color: #212529;
}

.member-list__one--intro {
    max-width: 550px;
    height: 36px;
    overflow-y: auto;
}

.text__intro {
    overflow-y: auto;
    font-family: Noto Sans CJK KR;
    font-size: 21px;
    line-height: 150%;
    color: #828282;
}

/* 페이지 하단 */
.bottom-btn__box {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    cursor: pointer;
}

.bottom-btn__box a,
.bottom-btn__box span {
    padding: 10px 24px 12px;
    background: #FFFFFF;
    border: 2px solid #FF8989;
    box-sizing: border-box;
    border-radius: 26px;

    color: #FF8989;
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 24px;
    line-height: 105%;
    text-decoration: none;
}

.bottom-btn__box a:hover,
.bottom-btn__box span:hover {
    border: 2px solid #FF8989;
    background: #FF8989;
    color: white;
    transition: 0.3s;
}

.btn__update {
    margin-right: 20px;
}

.btn__delete {
    margin-right: 20px;
}