.star {
    padding: 0;
    border: none;
    background: none;
}

.group__code--alert-box, .group-join__alert-box {
    background: rgb(195, 195, 247);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.hidden {
    display: none;
}

.align-center {
    display: grid;
    place-items: center;
    min-height: 100vh;
}