/* 내 그룹 상단 */
.mygroup__top {
    display: flex;
    justify-content: space-between;
}

.mygroup__top-left {
    font-size: 36px;
    line-height: 150%;
    font-weight: bold;
}

.mygroup__top-right {
    display: flex;
}

.right__makebtn {
    padding: 12px 24px 14px;
    background: #37C6E6;
    border: 2px solid #37C6E6;
    box-sizing: border-box;
    border-radius: 26px; 
    
    align-items: center;
    text-align: center;
    font-family: Noto Sans CJK KR;
    text-decoration: none;
    /* font-weight: bold; */
    color: #FFFFFF;
    font-size: 24px;
    line-height: 105%;
    margin-right: 30px;
}

.right__joinbtn {
    padding: 12px 24px 14px;
    background: #FF8989;
    border: 2px solid #FF8989;
    box-sizing: border-box;
    border-radius: 26px;

    align-items: center;
    text-align: center;
    font-family: Noto Sans CJK KR;
    text-decoration: none;
    /* font-weight: bold; */
    color: #FFFFFF;
    font-size: 24px;
    line-height: 105%;
}

/* 내 그룹 목록 */
.gridbox {
    margin-top: 60px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridbox__item-group {
    width: 340px;
    height: 350px;
    margin-bottom: 30px;
    position: relative; 

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 15px;  
}

.img__group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__group-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px; 
}

.group__keyword-star {
    position: absolute;
    top: 15px;
    left: 15px;
}

.content__group {
    width: 100%;
    height: 135px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 30px 15px;
}

.content__group-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
}

.content__group-top-left {
    display: flex;
    align-items: center;
}

/* 그룹 이름 두 줄 이상 넘어가지 않도록 설정 */
.content__group-namebox {
    
}

.content__group-name {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    line-height: 105%;
    margin-right: 3px;
    color: #000000;
}

.content__group-mode i {
    color: #828282;
    font-size: 25px;
}

.content__group-member { 
    background: #E5E5E5;
    border-radius: 8px;
    padding: 5px 15px;
    text-align: center;
}

.content__group-bottom {
    width: 100%;
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #4E4E4E;
}

.group-intro {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display : -webkit-box;
    -webkit-line-clamp: 2;  /* 줄 개수 설정 */
    -webkit-box-orient: vertical;
}