/* 모달 */
.modal {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal__hidden {
    display: none;
}

/* 모달 디자인 */
.modal__content {
    position: relative;
    top: 0px;
    width: 40%;
    height: 500px;
    background-color: #FAFAFA;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal__content--top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 41px 0px 33px 0px;
    border-bottom: 2px solid #BDBDBD;
}

.modal__content--top span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 105%;
    text-align: center;
    color: #000000;
}

.modal__content--bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 70px 0px;
}

.modal__close {
    position: static;
    background: #FFFFFF;
    border: 2px solid #37C6E6;
    box-sizing: border-box;
    border-radius: 41px;

    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 105%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    padding: 18px 38px 21px;
}

.modal__close:hover, .group__wait--close:hover {
    background-color: #37C6E6;
    color: #ffffff;
    transition: 0.2px;
}