section {
    width: 100%;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.landing__container {
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.landing__element {
    width: 1080px;
    margin: 0 auto;
    height: 100%;
}

.landing__element h1, .main__element h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    margin: 0;
}

.landing__element p{
    font-size: 24px;
    line-height: 130%;
    margin: 0;
}

.landing__element h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
/* 첫번째 컨테이너 */
.landing__container-first {
    background: #37C6E5;
}

.landing__first {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}


/* 검색창 */
.qna__search-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.qna__search-box {
    width: 100%;
    height: 100%;
    display: flex;
}

.qna__search-box input {
    width: 740px;
    height: 100%;
    border: none;
    border-radius: 30px;
    padding-left: 24px;
    padding-right: 73px;
    font-size: 18px;
    line-height: 150%;
    color: black;
}

.qna__search-box input ::placeholder{
    font-size: 18px;
    line-height: 150%;
    color: #828282;
}

.qna__search-box button {
    background: none;
    border: none;
    margin-left: -55px;
}

/* 묻고답하기게시판 */
.landing__qna {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.landing__qna__top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.landing__qna__boxes {
    margin-left: -40px;
    position: relative;
    height: 182px;
}

.landing__qna__box {
    height: 80px;
    width: 400px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #4E4E4E;
}

.landing__qna__box p{
    line-height: 100%;
}

.landing__qna__box-1 {
    top: -30px;
    left: 136px;
    border: 2px solid #ff8989;
    z-index: 11;
}

.landing__qna__box-2{
    top: 40px;
    left: 0;
    border: 2px solid #22d053;
}

.landing__qna__box-3 {
    top: 40px;
    left: 546px;
    border: 2px solid #22d053;
    z-index: 12;
}

.landing__qna__box-4 {
    top: 11px;
    left: 900px;
    border: 2px solid #ff8989;
    z-index: 14;
}

.landing__qna__box-5 {
    top: 150px;
    left: 415px;
    border: 2px solid #37C6E5;
    z-index: 13;
}

/* 업적 기능 */
.landing__container-reward {
    height: 300px;
    background: #FFD76F;
}

.landing__reward {
    display: flex;
    justify-content: space-between;
}
.landing__reward__imgcontainer {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.landing__reward__imgcontainer img {
    height: 140px;
    width: 140px;
    padding: 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}


/* 그룹 기능 */

.landing__container-group {
    height: 760px;
}
.landing__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.landing__group__top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.landing__group__cardcontainer {
    display: flex;
    height: 331px;
    gap: 30px;
}

.landing__group__card {
    width: 340px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* border: 1px solid #E5E5E5; */
    color: black;
    text-decoration: none;
    transition: 0.5s;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
}

.landing__group__card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    color: black;
}

.landing__group__card img {
    background-color: #828282;
    height: 217px;
    object-fit: cover;
}

.landing__group__card__text {
    display: flex;
    flex-direction: column;
    height: 115px;
    padding: 20px 30px;
    border-top: 1px solid #E5E5E5;
    gap: 15px;
}
.landing__group__card__text h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    margin: 0;
}
.landing__group__card__text p {
    font-size: 14px;
    line-height: 130%;
    color: #4E4E4E;
    margin: 0;
}

.landing__ctabtn {
    background: #37C6E5;
    color: white;
    width: 235px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    gap: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
}

.landing__ctabtn:hover{
    color: white;
    font-size: 26px;
    background-color: #37aee5;
}

/* 로그인 했을 때 */

.main__element {
    height: 500px;
    /* width: 1080px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

p.main__title, .main__qna__box p {
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    margin: 0;
}


.main__container:first-of-type{
    background: #37C6E5;
}
.main__search {
    width: 1080px;
    margin: 0 auto;
}

.main__qna{
    position:relative;
}

.main__qna__title {
    width: 1080px;
    margin: 0 auto;
}

.main__qna__slidecontainer {
    height: 265px;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.main__qna__slideinner {
    width: 300vw;
    display: flex;
    transition: 0.5s;
}

.main__arrow-container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    margin-top: -246px;
}

#qna__arrow-left{
    position:absolute;
    left: -100px;
    top: 260px;
    z-index: 11;
}

#qna__arrow-right{
    position:absolute;
    right: -100px;
    top: 260px;
    z-index: 11;
}

.main__qna__box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 auto;
    width: 100vw;
}

.main__qna__question {
    height: 120px;
    width: 1080px;
    border: 2px solid #FF8989;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 45px 40px;
    margin: 0 auto;
}

.main__qna__answer {
    height: 120px;
    width: 1080px;
    border: 2px solid #22D053;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 45px 40px;
    margin: 0 auto;
}

.main__qna__box:nth-of-type(2) {
    left: 1080px
}

.main__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1080px;
    margin: 0 auto;
}

/* 내 그룹 최근 게시글이 없을 경우 text */
.landing__group__notpost {
    display: flex;
    width: 1080px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
}

.notpost-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold; 
    font-size: 25px;
    color: #4E4E4E;
}

.landing__ctabtn--group {
    background: #37C6E5;
    color: white;
    width: 235px;
    height: 66px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    gap: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    .landing__element {
        width: 100vw;
    }
    .landing__element h1, h3 {
        font-size: 26px !important;
        line-height: 150%;
        text-align: left;
        width: 300px;
    }

    .landing__element p {
        font-size: 18px;
        width: 300px;
    }

    .landing__qna__top > h1 {
        padding-right: 90px;
    }

    .landing__qna__top > p {
        padding-right: 60px;
    }

    .landing__qna__top svg {
        margin: -3px -17px 0 -18px !important;
        transform: scale(0.7);
    }

    .landing__first, .landing__qna, .landing__reward, .landing__group {
        align-items: center;
    }

    .qna__search-container {
        width: 300px;
        height: 50px;
    }

    .qna__search-box input{
        width: 100%;
        font-size: 14px;
    }
    .landing__qna {
        align-items: center;
    }

    .landing__qna__boxes {
        transform: scale(0.7);
        margin-left: -480px;
    }

    .landing__qna__box {
        height: 70px;
        width: 320px;
    }

    .landing__qna__box-1 {
        top: -110px;
        left: 200px;
    }
    .landing__qna__box-2 {
        top: -25px;
        left: 125px;
    }
    .landing__qna__box-3 {
        top: 211px;
        left: 180px;
    }
    .landing__qna__box-4 {
        top: 63px;
        left: 260px;
        z-index: 1;
    }
    .landing__qna__box-5 {
        top: 120px;
        left: 125px;
    }

    .landing__qna__box p {
        text-align: center;
        width: 270px;
    }
    .landing__ctabtn {
        align-self: center;
    }
    .landing__reward {
        flex-direction: column;
    }

    .landing__container-reward {
        height: auto;
        padding: 40px 0;
    }

    .landing__reward__imgcontainer {
        height: 100px;
        width: 300px;
        gap: 10px;
        overflow: hidden;
    }

    .landing__reward__imgcontainer img {
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .landing__group {
        width: 100%;
        overflow: hidden;
    }
    .landing__group__top h1 {
        padding-right: 70px;
    }

    .landing__group__cardcontainer {
        transform: scale(0.5);
    }

    .landing__group__cardcontainer a:nth-of-type(2) {
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        transform: scale(1.1);
        color: black;
    }
}