.mypage__profile__container {
  padding: 30px 75px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mypage__profile__img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage__profile__img img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.mypage__profile_reward {
  position: relative;
}
.mypage__representative_reward {
  position: absolute;
  top: 6px;
  left: -25px;
}

.mypage__profile__text {
  width: 630px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mypage__profile__text > p {
  font-size: 32px;
  font-weight: bold;
  line-height: 100%;
  margin: 0;
}

.mypage__profile__text > div {
  display: flex;
  gap: 20px;
}

.mypage__profile__text-content {
  font-size: 18px;
  line-height: 150%;
  color: #4e4e4e;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 6;
}

.mypage__profile__text-content > div {
  display: flex;
}

.mypage__profile__text-content > div :first-child {
  font-weight: bold;
  width: 100px;
}

.mypage__profile__text-content p {
  margin: 0;
}

.mypage__profile__btn {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.mypage__bottom-btn > button,
.mypage__profile__btn > button {
  border: 1px solid var(--help-blue);
  padding: 1px 6px !important;
}

.mypage__options {
  display: flex;
  gap: 20px;
  padding-left: 50px;
  margin-bottom: 5px;
  border-bottom: 2px solid #bdbdbd;
}

.mypage__options > h3 {
  font-size: 20px;
  color: #828282;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding-bottom: 12px;
  margin-bottom: -2.5px;
  border-bottom: none;
}
.mypage__options > h3:first-of-type {
  color: #4f4f4f;
  border-bottom: 4px solid var(--help-blue);
}

.mypage__options > h3:hover,
.mypage__options > h3:active {
  color: black;
}
.mypage__reward__container > div {
  padding: 45px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.mypage__reward {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 45px;
}

.mypage__reward__img__container {
  width: 175px;
  height: 175px;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 10px;
  overflow: hidden;
}

.mypage__reward__img__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mypage__reward__name {
  font-size: 24px;
  line-height: 150%;
  font-weight: bold;
  margin: 0;
  width: 175px;
}

.mypage__reward__content,
.mypage__reward__date {
  font-size: 14px;
  line-height: 150%;
  color: #4e4e4e;
  margin: 0;
  width: 175px;
}

.mypage__question__container,
.mypage__answer__container {
  display: none;
}

.mypage__question {
  text-decoration: none;
  color: black;
  /* height: 211px; */
  padding: 20px 50px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  gap: 20px;
}

.mypage__question:last-of-type,
.mypage__answer:last-of-type {
  border-bottom: none;
}

.mypage__question:last-of-type {
  margin-bottom: 15px;
}

.mypage__question-left {
  width: 840px;
}
.mypage__question-left :first-child {
  font-size: 18px;
  font-weight: bold;
  line-height: 150%;
  margin: 0;
}

.mypage__question-left :last-child {
  font-size: 16px;
  line-height: 150%;
  color: #4e4e4e;
  margin: 0;
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mypage__question__content {
  word-break: break-word;
}

.mypage__question-right {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #4e4e4e;
  margin-left: 10px;
}

.mypage__answer {
  text-decoration: none;
  color: black;
  /* height: 116px; */
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 20px 50px;
  margin-bottom: 5px;
  border-bottom: 1px solid #bdbdbd;
  justify-content: space-between;
  margin: 0 10px;
}

.mypage__answer:last-of-type {
  margin-bottom: 15px;
}

.mypage__answer :first-child {
  font-size: 18px;
  font-weight: bold;
  line-height: 150%;
  margin: 0;
}

.mypage__answer :last-child {
  font-size: 16px;
  line-height: 150%;
  color: #4e4e4e;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 업적, 질문, 답변 없을 때 메세지 */
.mypage__nothing-yet {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mypage__message {
  color: var(--help-blue);
  font-size: 18px !important;
}

.mypage__bottom-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0 !important;
}

/* 질문, 답변 기록 */
.mypage__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #bdbdbd;
}

.mypage__title h3 {
  font-size: 24px;
  line-height: 100%;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* 페이지네이션 */

.pagination-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.pagination {
  display: flex;
  list-style: none;
}

/* 현재 페이지가 아닐 경우 */
.page-link {
  border: 1px solid var(--help-blue);
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--help-blue);
  padding: 6px 14px;
  background-color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  box-sizing: border-box;
}

/* 현재 페이지 표시 */
.page-link:hover {
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding: 6px 14px;
  background-color: var(--help-blue);
  border-radius: 100%;
  margin-right: 10px;
  box-sizing: border-box;
}

.page-item-active {
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding: 6px 14px;
  background-color: var(--help-blue);
  border-radius: 100%;
  margin-right: 10px;
  box-sizing: border-box;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all__page-sign {
  background-color: none;
  margin-right: 20px;
}

.sign-next {
  margin-left: 10px;
}
