.mypage__profile__container {
    padding: 30px 75px;
    display: flex;
    justify-content: space-between;
}

.mypage__profile__img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage__profile__img img {

    height: 100%;
    width: auto;
    object-fit: contain;
    
}

.mypage__profile__text {
    width: 630px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.mypage__profile__text > p {
    font-size: 32px;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
}

.mypage__profile__text > div {
    display: flex;
    gap: 20px;
}

.mypage__profile__text-content {
    font-size: 18px;
    line-height: 100%;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mypage__profile__text-content > div {
    display: flex;
}

.mypage__profile__text-content > div :first-child{
    font-weight: bold;
    width: 100px;
}

.mypage__profile__text-content p {
    margin: 0;
}

.mypage__options {
    display: flex;
    gap: 20px;
    padding-left: 50px;
    margin-bottom: 5px;
    border-bottom: 1px solid #bdbdbd;
}

.mypage__options > h3 {
    font-size: 20px;
    color: #828282;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    padding-bottom: 5px;
    margin-bottom: -2px;
    border-bottom: none;
}
.mypage__options > h3:first-of-type {
    color: black;
    border-bottom: 3px solid #000;
}

.mypage__options > h3:hover, .mypage__options > h3:active {
    color: black;
}

.mypage__question__container, .mypage__answer__container {
    display: none;
}

.mypage__question {
    text-decoration: none;
    color: black;
    height: 211px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #bdbdbd;
}

.mypage__question-left {
    width: 870px;
}
.mypage__question-left :first-child{
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    margin: 0;
}

.mypage__question-left :last-child{
    font-size: 18px;
    line-height: 150%;
    color: #4e4e4e;
    margin: 0;
    height: 54px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mypage__question-right {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #4e4e4e;
    margin-left: 10px;
}