/* 페이지네이션 */
.pagination-box {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.all__pagination {
    display: flex;
    list-style: none;
}

/* 현재 페이지가 아닐 경우 */
.all__page-link {
    border: 1px solid var(--help-blue);
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--help-blue);
    padding: 6px 14px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
    box-sizing: border-box;
}

/* 현재 페이지 표시 */
.all__page-link:hover {
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding: 6px 14px;
    background-color: var(--help-blue);
    border-radius: 100%;
    margin-right: 10px;
    box-sizing: border-box;
}

.all__page-item-active {
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding: 6px 14px;
    background-color: var(--help-blue);
    border-radius: 100%;
    margin-right: 10px;
    box-sizing: border-box;
}

.all__page-sign {
    background-color: none;
    margin-right: 20px;
}

.sign-next {
    margin-left: 10px;
}