.select__category input,
.select__group-mode input {
    display: none;
}

.select__category label, 
.select__group-mode label {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 6px 18px;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
}

.select__category > input:checked + label,
.select__group-mode > input:checked + label {
    background: #4cc4d4;
    color: #fff;
}

.select__tag input {
    display: none;
}

.select__tag label {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 6px 18px;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
}

.select__tag > input:checked + label {
    background: #78e68f;
    color: #fff;
}

#scratch:checked + label {
    background: #c3ffbe;
    color: #2f7041;
    border-color: #22d053;
}

#entry:checked + label {
    background: #ffc7c7;
    color: #7d4242;
    border-color: #eb6464;
}

#etc:checked + label {
    background: #cae2ff;
    color: #3a597c;
    border-color: #669fe1;
}

.post-create__category-select label{
    width: 150px;
    padding: 0;
}

.add_btn {
    border: none;
}