.userform__container, .login__container {
    margin: 0 auto;
    width: 540px;
}

.userform__container h1, .login__container h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.login__innercontainer label {
    margin-bottom: 10px;
}

.signup__page1, .signup__page2, .login__innercontainer, .revise__container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.signup__page2 {
    /* display: none; */
}

.signup__page1 > div, .signup__page2 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #4f4f4f;
    padding-bottom: 16px;
}

.password_change {
    cursor: pointer;
    padding: 8px 13px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 540px;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: white;
    background-color: #4f4f4f;
}

.password_change:hover {
    color: #4f4f4f;
    background-color: rgb(230, 230, 230);
}

form input, form textarea {
    width: 540px;
    height: 60px;
    font-size: 18px;
    line-height: 150%;
    padding-left: 24px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

form textarea {
    padding: 15px 15px;
}
form input::placeholder, form textarea::placeholder {
    color: #828282;
}

.userform__birth__inputcontainer {
    display: flex;
    gap: 10px;
}

.userform__birth__inputcontainer input {
    width: 100%;
}

.userform__job__inputcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.userform__job__inputcontainer > div {
    display: flex;
    gap: 15px;
}

.userform__image__inputcontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-base__image {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.user-select__image {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.user-select__image--top {
    display: flex;
    gap: 15px;
}

.user-select__image p {
    font-size: 16px;
    line-height: 150%;
    color: #4f4f4f;
    padding: 9px 12px;
    border: 1px solid #828282;
    border-radius: 5px;
    width: 500px;
    height: 42px;
    overflow: hidden;
}

.user-select__image label, .user-not-change__image label {
    font-size: 18px;
    line-height: 150%;
    color: #4f4f4f;
    cursor: pointer;
}

.img_display {
    border-radius: 50px;
}

.not-change-img__display {
    margin: 0px 10px;
}

.input_img_upload {
    overflow: hidden;
}

.userform__image__text, .userform__job__text {
    margin-bottom: 10px;
}

.userform__image__inputcontainer input, .userform__job__inputcontainer input {
    width: 20px;
    height: 20px;
}

.userform__job__inputcontainer p {
    font-size: 22px;
    color: #4f4f4f;
    width: 88px;
    line-height: 100%;
    margin-bottom: 8px;
}

.userform__btncontainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-self: center;
}
.userform__nextpagebtn, .userform__submitbtn, .login__loginbtn {
    width: 180px;
    height: 75px;
    background: #37C6E6;
    border: 2px solid #37C6E6;
    box-sizing: border-box;
    border-radius: 37.5px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 24px 24px 24px;
    color: #fff;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}

.userform__nextpagebtn, .login__loginbtn {
    align-self: center;
    margin: 0 auto;
}

.userform__prevpagebtn {
    width: 180px;
    height: 75px;
    border: 2px solid #828282;
    border-radius: 37.5px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 24px 24px 24px;
    color: #828282;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}

.userform__error, .errorlist {
    background-color: #FFE6E6;
    border: 1px solid #eb6464;
    color: #eb6464;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    /* margin: 10px 0; */
    margin-top: 10px;
    width: 540px;
    display: flex;
    gap: 15px;
    align-items: center;
    list-style: none;
}


/* 회원가입 성공시 */

.signup_success__text {
    font-size: 24px;
    line-height: 200%;
    color: #4f4f4f;
    text-align: center;
}

.signup_success__btn {
    background: #37C6E5;
    color: white;
    width: 235px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    gap: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    margin: 0 auto;
    margin-top: 60px;
}

.signup_success__btn:hover{
    color: white;
    font-size: 26px;
    background-color: #37aee5;
}

.signup_success__btn a{
    color: white;
    text-decoration: none;
}

.login__container > .bluebtn {
    display: flex;
    font-size: 14px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .userform__container h1, .login__container h1 {
        font-size: 24px;
    }
    .login__container, .userform__container {
        width: 100%;
        padding-bottom: 70px;
    }

    form input, form textarea {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }

    form label {
        font-size: 18px;
        padding: 0;
    }

    .login__innercontainer p {
        width: 100%;
    }

    .user-base__image {
        flex-wrap: wrap;
        width: 200px;
    }

    .userform__nextpagebtn, .userform__submitbtn, .login__loginbtn {
        width: 150px;
        height: 45px;
        font-size: 24px;
        padding: 0;
        margin: 0 auto;
    }

    .signup__page1, .signup__page2, .login__innercontainer, .revise__container {
        margin-bottom: 15px;
    }

    .signup__page1 > div, .signup__page2 > div {
        width: 100%;
    }

    .userform__job__inputcontainer p {
        font-size: 18px;
    }

    .user-select__image p {
        width: 100%;
    }
}