.userform__container, .login__container {
    margin: 0 auto;
    width: 540px;
}

.userform__container h1, .login__container h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}


.signup__page1, .signup__page2, .login__innercontainer, .revise__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.signup__page2 {
    /* display: none; */
}

.signup__page1 > div, .signup__page2 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label, #password_change {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #4f4f4f;
}

#password_change {
    cursor: pointer;
    text-decoration: underline;
}

form input, form textarea {
    width: 540px;
    height: 60px;
    font-size: 18px;
    line-height: 150%;
    padding-left: 24px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

form textarea {
    padding: 10px 15px;
}
form input::placeholder, form textarea::placeholder {
    color: #828282;
}

.userform__birth__inputcontainer {
    display: flex;
    gap: 10px;
}

.userform__birth__inputcontainer input {
    width: 100%;
}

.userform__job__inputcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.userform__job__inputcontainer > div {
    display: flex;
    gap: 15px;
}

.userform__image__inputcontainer input, .userform__job__inputcontainer input {
    width: 20px;
    height: 20px;
}

.userform__job__inputcontainer p {
    font-size: 22px;
    color: #4f4f4f;
    width: 80px;
    line-height: 100%;
    margin-bottom: 8px;
}

.userform__btncontainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-self: center;
}
.userform__nextpagebtn, .userform__submitbtn, .login__loginbtn {
    width: 180px;
    height: 75px;
    background: #37C6E6;
    border: 2px solid #37C6E6;
    box-sizing: border-box;
    border-radius: 37.5px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 24px 24px 24px;
    color: #fff;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}

.userform__nextpagebtn, .login__loginbtn {
    align-self: center;
    margin: 0 auto;
}

.userform__prevpagebtn {
    width: 180px;
    height: 75px;
    border: 2px solid #828282;
    border-radius: 37.5px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 24px 24px 24px;
    color: #828282;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}

.userform__error {
    background-color: #FFE6E6;
    border: 1px solid #eb6464;
    color: #eb6464;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    /* margin: 10px 0; */
    margin-top: 10px;
    width: 540px;
    display: flex;
    gap: 15px;
    align-items: center;
}
