{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/group.css' %}" />
{% endblock %}

{% block js %}
    <script src="{% static 'js/group_home.js' %}" defer></script>
{% endblock %}
{% block title %} 그룹 검색결과 페이지 {% endblock %}

{% block content %}
{{ request.user.id|json_script:"user_id" }}
{{ group.id|json_script:"group_id" }}

<h2>검색결과</h2>
<h3>검색어: <b>"{{ query }}"</b></h3>

{% for group in groups %}
<div class="all-group__one">
    <div class="all-group__name"><a href="{% url 'group:group_detail' group.pk %}"><h2>{{ group.name }}</h2></a></div>
    <div class="all-group__img">
        {% if group.image %}
        <img src="{{ group.image.url }}" height="200" width="200" />
        {% else %}
        <img src="{{ ani_image }}" height="200" width="200" />
        {% endif %}
    </div>
    <div class="all-group__intro">{{ group.intro|truncatewords:30 }}</div>
    <div class="all-group__keyword d-flex flex-row">
        <div class="all-group__heart">
            좋아요
            <button class="group__heart">  
                <i class="fas fa-heart"></i>
            </button>
        </div>
        <div class="all-group__member">멤버 수{{ group.members.all | length }}</div>
    </div>
</div>

    {% empty %}
    <h4> 결과 없음</h4>
{% endfor %}

<div class="group__search-container text-center">
    <form class="group__search-box" action="{% url 'group:group_search' %}" method="get">
        {% csrf_token %}
        <input type="search" placeholder="그룹명을 검색하세요" name="search" style="width:43em;"/>
        <button type="submit">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.1504 22.115L20.2822 17.2468C20.0625 17.0271 19.7646 16.905 19.4521 16.905H18.6562C20.0039 15.1814 20.8047 13.0134 20.8047 10.655C20.8047 5.04468 16.2588 0.498779 10.6484 0.498779C5.03809 0.498779 0.492188 5.04468 0.492188 10.655C0.492188 16.2654 5.03809 20.8113 10.6484 20.8113C13.0068 20.8113 15.1748 20.0105 16.8984 18.6628V19.4587C16.8984 19.7712 17.0205 20.0691 17.2402 20.2888L22.1084 25.157C22.5674 25.616 23.3096 25.616 23.7637 25.157L25.1455 23.7751C25.6045 23.3162 25.6045 22.574 25.1504 22.115ZM10.6484 16.905C7.19629 16.905 4.39844 14.1121 4.39844 10.655C4.39844 7.20288 7.19141 4.40503 10.6484 4.40503C14.1006 4.40503 16.8984 7.198 16.8984 10.655C16.8984 14.1072 14.1055 16.905 10.6484 16.905Z" fill="#4E4E4E"/>
            </svg>
        </button>
    </form>
</div>

<a href="{% url 'group:group_list' %}">이전으로</a>

{% endblock %}