{% extends 'group_base.html' %}
{% block title %}그룹 상세 페이지{% endblock %}

{% block content %}

    <div class="group-info">
        <div class="group-info__nav">
            <div class="group-info__name"><h2>{{ group.name }}</h2></div>
            <a href="{% url 'group:group_home' %}">그룹 홈</a>
            <a href="#">그룹 커뮤니티</a>
            <a href="{% url 'group:create_code' group.pk %}">친구 초대하기</a>
        </div>
        <div class="group-info__main">
            <div class="group-info__image">
                {% if group.image %}
                <img src="{{ group.image.url }}" height="200" width="200" />
                {% else %}
                <img class="random-img" src="https://picsum.photos/seed/{{ group.id }}/200/200" />
                {% endif %}
            </div>
            <div>{{ group.intro }}</div>
        </div>
        <div class="group-info__member">
            <h3>멤버 명단</h3>
            {% for member in members %}
                <div>
                    {{ member }}
                </div>
            {% endfor %}
        </div>
        <div class="group-info__input">
            <a href="{% url 'group:group_delete' group.pk %}" class="delete_btn">삭제</a>
            <a href="{% url 'group:group_home' %}" class="list_btn">목록</a>
            <a href="{% url 'group:group_update' group.pk %}" class="update_btn">수정</a>
        </div>
    </div>

{% endblock %}