{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/group_post_create.css' %}">
{% endblock %}

{% block content %}
<div>
    <h3>그룹 게시글 등록</h3>
    <h4>그룹 게시글 등록 페이지입니다.</h4>
</div>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="title">게시글 제목</label><br />
        <p>{{ form.title }}</p>
    </div>
    <div>
        <label for="content">게시글 내용</label><br />
        <p>{{ form.content }}</p>
    </div>
    <div>
        <label for="image">이미지 업로드</label><br />
        <p>{{ form.image }}</p>
    </div>
    <div>
        <label for="attached_file">파일 업로드</label><br />
        <p>{{ form.attached_file }}</p>
    </div>
    <div class="select__category">
        <p>카테고리 선택</p>
        <input type="radio" name="category_tag" value="S" id="show" class="tag" />
        <label for="show">자랑하기</label>
        <input type="radio" name="category_tag" value="Q" id="question" class="tag" />
        <label for="question">질문하기</label>
        <input type="radio" name="category_tag" value="ETC" id="etc" class="tag" />
        <label for="etc">기타</label>
    </div>
    <div>
        <button type="submit">게시글 등록</button>
        <a href="{% url 'group:group_list' %}">취소</a>
    </div>
{% endblock %}