{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/group_post_create.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/group_post_form.js" defer></script>
{% endblock %} 

{% block title %} 도와줘, 코딩 | {{ group.name }} | 게시글 작성 {% endblock %}

{% block content %}
<div class="post-create__container">  

<!-- 게시글 생성 상단 -->
    <div class="post-create__top">
        <span>만든 작품을 자랑하거나 궁금한 내용을 물어보세요!</span>
    </div>

    <!-- 게시글 생성 form -->
    <div class="post-create-form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="post-create__input post-create__input--title">
                <!-- 제목 에러 메시지 -->
                {% if error_messages.title %}
                <span class="input-error">
                    <svg width="5" height="14" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.3125 21.5825C8.3125 23.7364 6.56016 25.4888 4.40625 25.4888C2.25234 25.4888 0.5 23.7364 0.5 21.5825C0.5 19.4286 2.25234 17.6763 4.40625 17.6763C6.56016 17.6763 8.3125 19.4286 8.3125 21.5825ZM0.952148 1.71919L1.61621 15.0004C1.64741 15.6241 2.16216 16.1138 2.78662 16.1138H6.02588C6.65034 16.1138 7.16509 15.6241 7.19629 15.0004L7.86035 1.71919C7.8938 1.0498 7.36016 0.48877 6.68994 0.48877H2.12256C1.45234 0.48877 0.918701 1.0498 0.952148 1.71919Z" fill="#EB6464"></path>
                    </svg>
                    {{ error_messages.title }}
                </span>
                {% endif %}
                <input class="input-title" placeholder="제목을 50자 이내로 입력하세요." name="title" type="text"  
                value="{% if original_information %}{{ original_information.title }}{% else %}{{ post.title }}{% endif %}"/>
                
            </div>
            <div class="post-create__input post-create__input--content">
                <!-- 내용 에러 메시지 --> 
                {% if error_messages.content %}
                <span class="input-error">
                    <svg width="5" height="14" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.3125 21.5825C8.3125 23.7364 6.56016 25.4888 4.40625 25.4888C2.25234 25.4888 0.5 23.7364 0.5 21.5825C0.5 19.4286 2.25234 17.6763 4.40625 17.6763C6.56016 17.6763 8.3125 19.4286 8.3125 21.5825ZM0.952148 1.71919L1.61621 15.0004C1.64741 15.6241 2.16216 16.1138 2.78662 16.1138H6.02588C6.65034 16.1138 7.16509 15.6241 7.19629 15.0004L7.86035 1.71919C7.8938 1.0498 7.36016 0.48877 6.68994 0.48877H2.12256C1.45234 0.48877 0.918701 1.0498 0.952148 1.71919Z" fill="#EB6464"></path>
                    </svg>
                    {{ error_messages.content }}
                </span>
                {% endif %}
                <!-- textarea 한줄에 안 쓰면 공백도 계속 추가되어 버림. 이대로 두거나 공백 없애주는 방법 찾거나 -->
                <textarea class="input-content" placeholder="내용을 입력하세요." name="content">{% if original_information %}{{ original_information.content }}{% else %}{{ post.content }}{% endif %}</textarea>
            </div>

            <div class="post-create__img post-create__form">
                <div class="text-container">
                    <span>사진</span>
                </div>
                <div class="group-post__form-box">  
                    <input id="img_upload_name" class="group-post__form-input group-post__form-input--image" placeholder="첨부파일" readonly  />
                    <label for="img_upload" class="group-post__form-label">사진 올리기</label>
                    <input type="file" id="img_upload" class="form__input--file" name="image" onchange="imageChange(event);">
                    <input name="img_recent" id="img_recent" value="{% if current_image %}{{ current_image }}{% else %}{{ original_information.image }}{% endif %}" hidden />
                    <input id="temp_img_location" value="{{ temp_img_location }}" hidden></input>
                </div>
                <img id="img_display" class="img_display" src="">
            </div>
            
            <div class="post-create__link post-create__form">
                <div class="text-container">
                    <span>링크</span>
                </div>
                <!-- 링크 에러 메시지 -->
                {% if error_messages.attached_link %}
                <span class="input-error">
                    <svg width="5" height="14" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.3125 21.5825C8.3125 23.7364 6.56016 25.4888 4.40625 25.4888C2.25234 25.4888 0.5 23.7364 0.5 21.5825C0.5 19.4286 2.25234 17.6763 4.40625 17.6763C6.56016 17.6763 8.3125 19.4286 8.3125 21.5825ZM0.952148 1.71919L1.61621 15.0004C1.64741 15.6241 2.16216 16.1138 2.78662 16.1138H6.02588C6.65034 16.1138 7.16509 15.6241 7.19629 15.0004L7.86035 1.71919C7.8938 1.0498 7.36016 0.48877 6.68994 0.48877H2.12256C1.45234 0.48877 0.918701 1.0498 0.952148 1.71919Z" fill="#EB6464"></path>
                    </svg>
                    {{ error_messages.attached_link }} 
                </span>
                {% endif %}
                <input class="group-post__form-input--link" placeholder="작품 링크를 추가하세요." name="attached_link" type="text" maxlength="255" 
                value="{% if original_information %}{{ original_information.attached_link }}{% else %}{% if post.attached_link %}{{ post.attached_link }}{% endif %}{% endif %}"/>
                <!-- 여기도 한줄에 안 쓰면 공백도 계속 추가되어 버림. 이대로 두거나 공백 없애주는 방법 찾거나 -->
            </div>
            <!-- input type 을 url로 하면 자체적으로 url 아니면 제출을 안 받아서 에러메시지 커스톰 하기 위해 text type으로 바꿈 -->
            
            <div class="post-create__attached-file post-create__form">
                <div class="text-container">
                    <span>파일</span>
                </div>
                <div class="group-post__form-box">
                    <input id="file_upload_name" class="group-post__form-input group-post__form-input--file"  placeholder="첨부파일" readonly/>
                    <label for="file_upload" class="group-post__form-label">파일 올리기</label>
                    <input type="file" class="form__input--file" id="file_upload" name="attached_file" value="{{ form.attached_file.url }}" onchange="fileChange(event); "/>
                    <input name="file_recent" id="file_recent" value="{% if current_file %}{{ current_file }}{% else %}{{ original_information.attached_file }}{% endif %}" hidden />
                    <input id="temp_file_location" value="{{ temp_file_location }}" hidden></input>
                </div>
            </div>

            {% comment %} <!-- 기존 파일 업로드 부분-->
            <div class="post-create__attached-file post-create__form">
                <div class="text-container">
                    <span>파일</span>
                </div>
                <div class="group-post__form-box">
                    <input class="group-post__form-input group-post__form-input--file"  placeholder="첨부파일" readonly/>
                    <label for="attached_file" class="group-post__form-label">파일 올리기</label>
                    <input type="file" class="form__input--file" id="attached_file" name="attached_file" value="{{ form.attached_file.url }}" />
                </div>
            </div>
            {% endcomment %}
            <div class="post-crate__category">
                <div class="text-container category-text">
                    <span>카테고리</span>
                    <span class="post-create__error">{{ category_error }}</span>
                </div>
                <!-- 카테고리 에러 메시지 -->
                {% if error_messages.category %}
                <span class="input-error">
                    <svg width="5" height="14" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.3125 21.5825C8.3125 23.7364 6.56016 25.4888 4.40625 25.4888C2.25234 25.4888 0.5 23.7364 0.5 21.5825C0.5 19.4286 2.25234 17.6763 4.40625 17.6763C6.56016 17.6763 8.3125 19.4286 8.3125 21.5825ZM0.952148 1.71919L1.61621 15.0004C1.64741 15.6241 2.16216 16.1138 2.78662 16.1138H6.02588C6.65034 16.1138 7.16509 15.6241 7.19629 15.0004L7.86035 1.71919C7.8938 1.0498 7.36016 0.48877 6.68994 0.48877H2.12256C1.45234 0.48877 0.918701 1.0498 0.952148 1.71919Z" fill="#EB6464"></path>
                    </svg>
                    {{ error_messages.category }}
                </span>
                {% endif %}
                <div class="post-create__category-select">
                    <input type="radio" name="category" value="S" id="show" class="tag" 
                    {% if original_information.category == 'S' or post.category == 'S' %} checked {% endif %}/>
                    <label for="show">자랑하기</label>
                    <input type="radio" name="category" value="Q" id="question" class="tag" 
                    {% if original_information.category == 'Q' or post.category == 'Q' %} checked {% endif %} />
                    <label for="question">질문하기</label>
                    <input type="radio" name="category" value="ETC" id="etc" class="tag"  
                    {% if original_information.category == 'ETC' or post.category == 'ETC' %} checked {% endif %}/>
                    <label for="etc">기타</label>
                </div>
            </div>

            <div class="post-create__btn">
                <button type="submit" class="btn-save btn-effect">올리기</button>
                <a href="{% url 'group:post_list' group.pk %}" class="btn-return btn-effect">취소</a>
            </div>
        </div>
    </form>

</div>
{% endblock %}