{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/group_home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/group_home_modal.css' %}" />
{% endblock %}

{% block js %}
    <script src="{% static 'js/group_home.js' %}" defer></script>
{% endblock %}

{% block title %} 도와줘, 코딩 | 내 그룹 {% endblock %}

{% block content %}
{{ request.user.id|json_script:"user_id" }}
{{ group.id|json_script:"group_id" }}

<div class="mygroup-container"> <!-- 그룹 컨테이너 시작 -->

    <!-- 그룹 컨테이너 탑 -->
    <div class="mygroup__top">
        <div class="mygroup__top-left">
            <span>내 그룹</span>
        </div>
        {% if groups %}
        <div class="mygroup__top-right">
            <a href="{% url 'group:group_create' %}" class="right__makebtn">그룹 만들기</a>
            <a class="right__joinbtn" onclick="showGroupJoin()">그룹 가입하기</a>
        </div>
        {% endif %}
    </div>

    <!-- 가입한 내 그룹이 없을 때 -->
    {% if not groups %}
    <div class="mygroup__nogroup">
        <div class="mygroup__nogroup--text">
            <h2>아직 가입한 그룹이 없어요 👀</h2>
            <h2>그룹에 가입해서 다른 친구들과 교류해보세요!</h2>
        </div>

        <div class="mygroup__nogroup--btnbox">
            <a href="{% url 'group:group_create' %}" class="right__makebtn">그룹 만들기</a>
            <a class="right__joinbtn" onclick="showGroupJoin()">그룹 가입하기</a>
        </div>
    </div>
    {% endif %}

    <!-- 공개, 비공개 모드 선택 modal-->
    <div class="group-join__select-box modal modal__hidden">
        <div class="modal__overlay"></div>  <!-- 모달 배경 -->
        <div class="modal__content">    <!-- 모달 내용 -->
            <div class="modal__content--top">
                <span>어떤 그룹에 가입하고 싶나요?</span>
            </div>
            <div class="modal__content--bottom which-join-modal__bottom">
                <div class="which-join__box which-join__box--top">
                    <button class="public-group__join-btn"><a href="{% url 'group:group_list' %}">공개그룹</a></button>
                    <button class="private-group__join-btn" onclick="showPrivateGroup()">비공개그룹</button>
                </div>
                <div class="which-join__box which-join__box--bottom">
                    <button class="join__code--close modal__close" onclick="closeGroupJoin()">닫기</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 그룹 초대코드 입력 modal -->
    <div class="group-join__alert-box modal modal__hidden" id="join-group">
        <div class="modal__overlay"></div>  <!-- 모달 배경 -->
        
        <div class="modal__content--join">    <!-- 모달 내용 -->
            <div class="modal__content--top">
                <span>그룹 가입하기</span>
                <button class="join__code--close join__close--btn" onclick="closeGroupJoin()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="36" viewBox="0 0 37 36" fill="none">
                    <path d="M1.77148 1.57764L35.0672 34.582M1.77148 34.582L35.0672 1.57764" stroke="#4E4E4E" stroke-width="3"/>
                    </svg>
                </button>
            </div>
            <div class="group-join__box modal__content--bottom">
                <div class="group-join__inputbox">

                    <!-- 초대 코드 입력 input -->
                    <div class="group-join__inputbox--input">
                        <input type="text" name="group_code" placeholder="초대코드를 입력하세요!" class="group-code__input">
                    </div>

                    <!-- 에러메세지 -->
                    <span class="group-code__text group-code__error"><svg width="5" height="14" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.3125 21.5825C8.3125 23.7364 6.56016 25.4888 4.40625 25.4888C2.25234 25.4888 0.5 23.7364 0.5 21.5825C0.5 19.4286 2.25234 17.6763 4.40625 17.6763C6.56016 17.6763 8.3125 19.4286 8.3125 21.5825ZM0.952148 1.71919L1.61621 15.0004C1.64741 15.6241 2.16216 16.1138 2.78662 16.1138H6.02588C6.65034 16.1138 7.16509 15.6241 7.19629 15.0004L7.86035 1.71919C7.8938 1.0498 7.36016 0.48877 6.68994 0.48877H2.12256C1.45234 0.48877 0.918701 1.0498 0.952148 1.71919Z" fill="#EB6464"/>
                    </svg>{{ message }}</span>

                    <!-- 그룹 찾기 버튼 -->
                    <div class="group-join__inputbox--btn">
                        <input type="submit" value="그룹 찾기" class="group-code__submit">
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <!-- 그룹 정렬 (sort) -->
    {% if groups %}
    <div class="list-sort">
        <span class="list-sort__btn">
            {% if sort_by != 'star' %}
            <a href="{% url 'group:group_home' %}?{% param_replace sort='star' page=1 %}">찜하기순</a>
            {% else %}
            <span>찜하기순</span>
            {% endif %}
        </span>
        <span class="list-sort__btn">
            {% if sort_by != 'name' %}
            <a href="{% url 'group:group_home' %}?{% param_replace sort='name' page=1 %}">이름순</a>
            {% else %}
            <span>이름순</span>
            {% endif %}
        </span>
    </div>
    {% endif %}

    <!-- 내 그룹 목록 -->
    <div class="gridbox">
        {% for group, is_star in groups_star_dict.items %}
            <div class="gridbox__item-group">
                <a href="{% url 'group:post_list' group.pk %}">
                    <div class="img__group">
                        {% if group.image %}
                        <img src="{{ group.image.url }}" height="200" width="200" class="img__group-img" />
                        {% else %}
                        <img src="{{ ani_image }}" height="200" width="200" class="img__group-img" />
                        {% endif %}
                    </div>
                </a>

                <div class="star__group">
                    <span class="star group__keyword-star group__keyword-star--{{ group.id }}" id="keyword-star-{{ group.id }}">  
                        {% if is_star %} <!-- 꽉 찬 별 -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none"><path d="M14.2841 1.9274L14.284 1.92759L10.7818 9.44224L2.95814 10.6493C1.06844 10.9394 0.387624 13.3429 1.69516 14.6904C1.69521 14.6905 1.69526 14.6905 1.6953 14.6906L7.37193 20.5445L6.02817 28.821L6.02812 28.8213C5.72253 30.7113 7.63006 32.2674 9.33438 31.3119C9.33462 31.3118 9.33486 31.3117 9.33509 31.3115L16.3261 27.4227L23.3185 31.3124C23.3186 31.3124 23.3186 31.3124 23.3186 31.3124C25.0196 32.2589 26.9302 30.7151 26.624 28.8213L26.6239 28.821L25.2802 20.5446L30.9568 14.6906C32.2645 13.3431 31.5837 10.9394 29.694 10.6493L21.8703 9.44224L18.3681 1.92759L18.3677 1.92669C17.5428 0.165947 15.1196 0.136632 14.2841 1.9274Z" fill="#FFD76F" stroke="#828282"/></svg>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/></svg> -->
                        {% else %} <!-- 빈 별 -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none"><path d="M14.515 1.92759L14.5151 1.9274C15.3505 0.136631 17.7738 0.165947 18.5986 1.92669L18.5991 1.92759L22.1012 9.44224L29.9249 10.6493L29.9253 10.6494L29.8491 11.1435C31.2995 11.3662 31.8808 13.2585 30.829 14.3424L14.515 1.92759ZM14.515 1.92759L11.0128 9.44224L3.1891 10.6493C3.18901 10.6493 3.18893 10.6494 3.18884 10.6494C3.1888 10.6494 3.18875 10.6494 3.18871 10.6494C1.29931 10.9397 0.618669 13.343 1.92612 14.6904C1.92617 14.6905 1.92621 14.6905 1.92626 14.6906L7.60289 20.5446L6.25913 28.821L6.25907 28.8213C5.95349 30.7113 7.86102 32.2674 9.56534 31.3119C9.56557 31.3118 9.56581 31.3117 9.56605 31.3115L16.557 27.4227L23.5495 31.3124C25.2505 32.259 27.1611 30.7151 26.855 28.8213L26.8549 28.821L25.5111 20.5445L31.1878 14.6906L14.515 1.92759Z" stroke="white"/></svg>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26zm0-2.292l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275l-2.038 4.42-4.833.572 3.573 3.305-.949 4.773L12 15.968z"/></svg> -->
                        {% endif %}
                    </span>
                </div>

                <a href="{% url 'group:post_list' group.pk %}">
                    <div class="content__group">
                        <div class="content__group-top">
                            <div class="content__group-top-left">
                                <!-- 그룹 이름 -->
                                <div class="content__group-namebox">
                                    <span class="group-name-text content__group-name">{{ group.name }}</span>
                                </div>

                                <!-- 비공개 / 공개 그룹 (자물쇠) -->
                                <div class="content__group-mode">
                                    {% if group.mode == 'PRIVATE' %}
                                    <i class="ri-lock-2-fill"></i>
                                    {% endif %}
                                </div> 
                            </div>    
                            
                            <!-- 그룹인원수 -->
                            <div class="content__group-member">
                                <span>{{ group.members.all | length }}명</span>
                            </div>
                        </div>

                        <div class="content__group-bottom">
                            <!-- 그룹 소개 -->
                            {% if group.intro %}
                            <span class="group-intro">{{ group.intro }}</span>
                            {% else %}
                            <span class="group-intro">그룹 소개가 없습니다.</span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</div>  <!-- 그룹 컨테이너 끝 -->

<!-- 페이지네이션 -->
{% if groups %}
<div class="pagination-box">
    <ul class="all__pagination">
        {% if groups.has_previous %}
        <li class="all__page-item">
            <a class="all__page-sign" href="?page={{ groups.previous_page_number }}&sort={{ sort_by }}">
                <!-- 이전페이지 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
                <path d="M12.7688 22.5918L2.02827 11.8513L12.7688 1.11076" stroke="#C4C4C4" stroke-width="2"/>
                </svg>
            </a>
        </li>
        {% else %}
        <li class="all__page-item">
            <a class="all__page-sign" href="#">
                <!-- 이전페이지 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
                <path d="M12.7688 22.5918L2.02827 11.8513L12.7688 1.11076" stroke="#C4C4C4" stroke-width="2"/>
                </svg>
            </a>
        </li>
        {% endif %}

        {% for page_number in groups.paginator.page_range %}
            {% if page_number == groups.number %}
            <li class="all__page-item">
                <a class="all__page-item-active" href="?page={{ page_number }}&sort={{ sort_by }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="all__page-item">
                <a class="all__page-link" href="?page={{ page_number }}&sort={{ sort_by }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endfor %}
        
        {% if groups.has_next %}
        <li class="all__page-item">
            <a class="all__page-sign sign-next" href="?page={{ groups.next_page_number }}&sort={{ sort_by }}">
                <!-- 다음페이지 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
                <path d="M1.23096 1.11035L11.9715 11.8509L1.23096 22.5914" stroke="#C4C4C4" stroke-width="2"/>
                </svg>
            </a>
        </li>
        {% else %}
        <li class="all__page-item">
            <a class="all__page-sign sign-next" href="#">
                <!-- 다음페이지 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
                <path d="M1.23096 1.11035L11.9715 11.8509L1.23096 22.5914" stroke="#C4C4C4" stroke-width="2"/>
                </svg>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}