{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/group_post_create.css' %}">
{% endblock %}

{% block content %}
<div>
    <h3>그룹 게시글 등록</h3>
    <h4>그룹 게시글 등록 페이지입니다.</h4>
</div>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="title">게시글 제목</label><br />
        <p>{{ form.title }}</p>
    </div>
    <div>
        <label for="content">게시글 내용</label><br />
        <p>{{ form.content }}</p>
    </div>
    {% comment %}
    <div>
        <label for="image">이미지 업로드</label><br />
        <p>{{ form.image }}</p>
    </div>
    <div>
        <label for="attached_file">파일 업로드</label><br />
        <p>{{ form.attached_file }}</p>
    </div>
    {% endcomment %}
    <div>
        <label>사진: </label> 
        <input class="group-post__form-input group-post__form-input--image" name="image" type="file" maxlength="255" value="{% if post.image %}{{ post.image.url }}{% endif %}}">
    </div>
    <div>
        <label>링크: </label> 
        <input class="group-post__form-input group-post__form-input--link" name="attached_link" type="url" maxlength="255" value="
        {% if form.atta_attached_link %}
        {{ form.attached_link.value }}
        {% endif %}
        ">
    </div>
    <div>
        <label>첨부파일: </label> 
        <input class="group-post__form-input group-post__form-input--file" name="attached_file" type="file" maxlength="255" value="{{ form.attached_file.url }}">
    </div>

    
    <div class="select__category">
        <p>카테고리 선택</p>
        <input type="radio" name="category" value="S" id="show" class="tag" {% if group_post.category == 'S' %} checked {% endif %}/>
        <label for="show">자랑하기</label>
        <input type="radio" name="category" value="Q" id="question" class="tag" {% if group_post.category == 'Q' %} checked {% endif %} />
        <label for="question">질문하기</label>
        <input type="radio" name="category" value="ETC" id="etc" class="tag"  {% if group_post.category == 'ETC' %} checked {% endif %}/>
        <label for="etc">기타</label>
    </div>
    <span style="color: red;">{{ category_error }}</span>
    <div>
        <button type="submit">게시글 등록</button>
        <a href="{% url 'group:group_list' %}">취소</a>
    </div>
{% endblock %}