{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/group.css' %}" />
{% endblock %}

{% block js %}

{% endblock %}
{% block title %}그룹 가입하기{% endblock %}

{% block content %}

    <div class="group-join__box">
        <form method="GET" class="group-join__code">
            <input placeholder="초대 코드 입력" type="text" name="code" />
            <button>Submit</button> 
        </form>

        <div class="group-join__message">
            <h4>{{ message }}</h4>
        </div>
        <a href="{% url 'group:group_home' %}">홈으로</a>
    </div>

{% endblock %}