{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/signup_login.css' %}">
{% endblock css %}
{% block title %} 도와줘, 코딩 | 로그인 {% endblock %}

{% block content %}
<div class="login__container">
    <h1>도와줘코딩 로그인</h1>
    <form method="POST" action="">
        <div class="login__innercontainer">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="login__loginbtn">로그인</button>
        </div>
    </form>
</div>
<script>
    const loginContainer = document.querySelector('.login__innercontainer');
    const emailLabel = loginContainer.children[1].firstElementChild;
    const pwLabel = loginContainer.children[2].firstElementChild;
    emailLabel.textContent = '이메일';
    pwLabel.textContent = '비밀번호';
</script>
{% endblock content %}