<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <p>{{ user.email }}</p>
        {% if user.img %}<img src="{{ user.img.url }}" height="100">{% else %}<p>사진 없음</p>{% endif %}
        <button><a href="{% url 'user:logout' %}">Logout</a></button>
        {% else %}
        <button><a href="{% url 'user:login' %}">Login</a></button>
        <button><a href="{% url 'user:signup' %}">Signup</a></button>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </body>
</html>