{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<button class="btn btn-primary"><a class="text-white" href="{% url 'user:mypage' %}" style="text-decoration: none">My Page</a></button>
<button class="btn btn-danger"><a class="text-white" href="{% url 'user:logout' %}" style="text-decoration: none">Logout</a></button>
<div>
    <p>로그인 중인 유저 : {{ user.email }}</p>
    {% if user.img %}<img src="{{ user.img.url }}" height="100">{% else %}<p>사진 없음</p>{% endif %}
</div>
{% else %}
<button class="btn btn-primary"><a class="text-white" href="{% url 'user:login' %}" style="text-decoration: none">Login</a></button>
<button class="btn btn-secondary"><a class="text-white" href="{% url 'user:signup' %}" style="text-decoration: none">Signup</a></button>
<div>
    <p>로그인 후 이용해주세요.</p>
</div>
{% endif %}

{% endblock content %}