{% extends 'user/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mypage_list.css' %}">
{% endblock css %}
{% block title %} 도와줘, 코딩 | 포인트 기록 {% endblock %}

{% block content %}
<div>
  <div class="point__title">
    <h3>포인트 기록</h3>
    {% if points %}
    <h3>{{user.points}}점의 포인트를 얻었어요.</h3>
    {% endif %}
  </div>
  {% if points %}
  {% for point in points %}
  <div class="point__container">
    <div class="point-left">
      <p>+ {{ point.point }}</p>
      <p>{{ point.get_type_display }}</p>
    </div>
    <div class="point-right">
      <p>{{ point.get_date | date:'y.m.d' }}</p>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>- 아직 획득한 포인트가 없습니다.</p>
  {% endif %}

  {% if is_paginated %}
  <div class="pagination-box">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="all__page-sign" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
            <path d="M12.7688 22.5918L2.02827 11.8513L12.7688 1.11076" stroke="#C4C4C4" stroke-width="2"/>
          </svg>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="all__page-sign" href="#" tabindex="-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
            <path d="M12.7688 22.5918L2.02827 11.8513L12.7688 1.11076" stroke="#C4C4C4" stroke-width="2"/>
          </svg>
        </a>
      </li>
      {% endif %}
      
      {% for page in page_range %}
      <li class="page-item">
        <a class="page-link {% if page == page_obj.number %} page-item-active {% endif %}" href="?page={{ page }}">{{ page }}</a>
      </li>
      {% endfor %}
      
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="all__page-sign sign-next" href="?page={{ page_obj.next_page_number }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
            <path d="M1.23096 1.11035L11.9715 11.8509L1.23096 22.5914" stroke="#C4C4C4" stroke-width="2"/>
            </svg>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="all__page-sign" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
            <path d="M1.23096 1.11035L11.9715 11.8509L1.23096 22.5914" stroke="#C4C4C4" stroke-width="2"/>
            </svg>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock content %}