{% extends 'user/main.html' %}

{% block content %}
<div>
  <h3>○ 나의 업적들 ( {{ user.email }} )</h3>
  {% if rewards %}
  {% for reward in rewards %}
  <p>
    <img src="{{ reward.reward.img }}" height="50">
    <p>업적 이름 : {{ reward.reward.name }}</p>
    <p>업적 설명 : {{ reward.reward.info }}</p>
    <p>획득일 : {{ reward.get_date }}</p>
    <button id="reward-{{ reward.reward.id }}" onclick="setRepresentativeReward({{ user.id }}, {{ reward.reward.id }})">대표 배지 설정</button>
  </p>
  {% endfor %}
  {% else %}
  <p>- 아직 업적이 없습니다.</p>
  {% endif %}

  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">이전</a>
    </li>
    {% endif %}

    {% for page in page_range %}
    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">다음</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

  <script>
    const requestSetRepresentativeReward = new XMLHttpRequest();

    const setRepresentativeReward = (user_id, reward_id) => {
        const url = "/mypage/reward/representative_ajax/";
        requestSetRepresentativeReward.open("POST", url, true);
        requestSetRepresentativeReward.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestSetRepresentativeReward.send(JSON.stringify({user_id: user_id, reward_id: reward_id}));
    };

    const setHandleResponse = () => {
        if (requestSetRepresentativeReward.status < 400) {
            const {previous_id, reward_id} = JSON.parse(requestSetRepresentativeReward.response);
            const representativeRewardButton = document.querySelector(`reward-${reward_id}`);
        }
    };

    requestSetRepresentativeReward.onreadystatechange = () => {
        if (requestSetRepresentativeReward.readyState === XMLHttpRequest.DONE) {
          setHandleResponse();
        }
    };
  </script>
</div>
{% endblock content %}