{% extends 'base.html' %}
  
{% load static %}
{% load my_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock css %}

{% block title %} 도와줘, 코딩 | 답변 기록 {% endblock %}
  

{% block content %}
<div>
<div class="mypage__answer__container" style="display: block;">
  <div class="mypage__title">
    <h3>답변 기록</h3>
  </div>
  {% if answers %}
  {% for answer in answers %}
  <a class="mypage__answer" href="{% url 'qna:question_detail' answer.question_id.pk %}" style="text-decoration: none">
    <p class="mypage__answer__title">{{ answer.content }}</p>
    <p class="mypage__answer__question">Q. {{ answer.question_id.title }}</p>
  </a>
  {% endfor %}
  {% else %}
  <p>- 답변 기록이 없습니다.</p>
  {% endif %}
  <button class="btn btn-secondary"><a class="text-white" href="{% url 'user:mypage' %}" style="text-decoration: none">마이페이지로 돌아가기</a></button>
  <button class="btn btn-secondary"><a class="text-white" href="{% url 'qna:question_list' %}" style="text-decoration: none">답변하러 가기</a></button>
</div>

<!-- 페이지네이션 -->
{% if is_paginated %}
<div class="pagination-box">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="all__page-sign" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
          <path d="M12.7688 22.5918L2.02827 11.8513L12.7688 1.11076" stroke="#C4C4C4" stroke-width="2"/>
        </svg>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="all__page-sign" href="#" tabindex="-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
          <path d="M12.7688 22.5918L2.02827 11.8513L12.7688 1.11076" stroke="#C4C4C4" stroke-width="2"/>
        </svg>
      </a>
    </li>
    {% endif %}
    
    {% if page_obj.number|add:'-2' > 1 and page_obj.paginator.num_pages > 5 %}
        <li class="page-item">
            <a class="page-link" href="?{% param_replace page=page_obj.number|add:'-5' %}">
                ...
            </a>
        </li>
      {% endif %}
      
      {% for page_number in page_range %}
        {% if page_number == page_obj.number %}
          <li class="page-item">
            <a class="page-link page-item-active" href="?{% param_replace page=page_number %}">
              {{ page_number }}
            </a>
          </li>
        {% else %}
          {% if page_obj.number < 4 %}
            {% if page_number < 6 %}
              <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_number %}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% elif page_obj.number > page_obj.paginator.num_pages|add:'-2' %}
            {% if page_number > page_obj.paginator.num_pages|add:'-5' %}
              <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_number %}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% else %}
            {% if page_number > page_obj.number|add:'-3' and page_number < page_obj.number|add:'3' %}
              <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_number %}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if page_obj.paginator.num_pages > page_obj.number|add:'2' and page_obj.paginator.num_pages > 5 %}
        <li class="page-item">
            <a class="page-link" href="?{% param_replace page=page_obj.number|add:'5' %}">
                ...
            </a>
        </li>
      {% endif %}
    
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="all__page-sign sign-next" href="?page={{ page_obj.next_page_number }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
          <path d="M1.23096 1.11035L11.9715 11.8509L1.23096 22.5914" stroke="#C4C4C4" stroke-width="2"/>
          </svg>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="all__page-sign" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
          <path d="M1.23096 1.11035L11.9715 11.8509L1.23096 22.5914" stroke="#C4C4C4" stroke-width="2"/>
          </svg>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>

</div>
{% endblock content %}