{% extends 'base.html' %}

{% block content %}
<div>
  <h3>○ 알림 내역 ( {{ user.email }} )</h3>
  {% if alerts %}
  {% for alert in alerts %}
  <div>
    <p>{% if not alert.checked %}※※※※{% endif %}</p>
    <p>{{ alert.content }}</p>
    <p>{{ alert.time }}</p>
  </div>
    {% endfor %}
  {% else %}
  <p>- 알림이 없습니다.</p>
  {% endif %}

  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">이전</a>
    </li>
    {% endif %}

    {% for page in page_range %}
    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">다음</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{% endblock content %}