{% extends 'base.html' %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div>
        <label for="nickname">닉네임</label><br />
        <input type="text" name="nickname" id="nickname" value="{% if original_information %}{{ original_information.nickname }}{% else %}{{ user.nickname }}{% endif %}"/>
        {% if revise_error %}<span>{{ revise_error.nickname }}</span>{% endif %}
    </div>
    <div>
        <label for="birth">생년월일</label><br />
        <input type="text" name="birth-y" id="birth-y" value="{% if original_information %}{{ original_information.birth_y }}{% else %}{{ user.birth.year }}{% endif %}"/>년
        <input type="text" name="birth-m" id="birth-m" value="{% if original_information %}{{ original_information.birth_m }}{% else %}{{ user.birth.month }}{% endif %}"/>월
        <input type="text" name="birth-d" id="birth-d" value="{% if original_information %}{{ original_information.birth_d }}{% else %}{{ user.birth.day }}{% endif %}"/>일
        {% if revise_error %}<span>{{ revise_error.birth }}</span>{% endif %}
    </div>
    <div>
        <label for="image">이미지 업로드</label><br />
        {% for base_image in base_images %}
        <img src="/static/img/{{ base_image }}" height="50">
        <input type="radio" name="img_setting" value="{{ base_image }}" {% if original_information %}{% if original_information.img_setting == base_image %}checked{% endif %}{% else %}{% if current_image == base_image %}checked{% endif %}{% endif %}>
        {% endfor %}
        <label>새로 설정하기 <input type="radio" name="img_setting" value="own_img" {% if original_information.img_setting == "own_img" %}checked{% endif %}></label>
        <input id="img" name="img" type="file"></input>
        {% if current_image not in base_images %}<label>이미지 변경 안 함 <input type="radio" name="img_setting" value="no_change_img" {% if original_information %}{% if original_information.img_setting == "no_change_img" %}checked{% endif %}{% else %}{% if current_image not in base_images %}checked{% endif %}{% endif %}></label>{% endif %}
        {% if revise_error %}<span>{{ revise_error.img }}</span>{% endif %}
    </div>
    <div>
        <label for="introduction">소개</label><br />
        <textarea name="introduction" id="introduction" cols="30" rows="10">{% if original_information %}{{ original_information.introduction }}{% else %}{{ user.introduction }}{% endif %}</textarea>
    </div>
    <div>
        <label for="job">직업</label><br />
        {% for job in job_choice %}
        <input type="radio" name="job" value="{{ job.0 }}" {% if original_information %}{% if original_information.job == job.0 %}checked{% endif %}{% else %}{% if user.job == job.0 %}checked{% endif %}{% endif %}/>{{ job.1 }}
        {% endfor %}
    </div>
    <div>
        <label for="current_password">현재 비밀번호</label><br />
        <input type="password" name="current_password" id="current_password" value="{{ original_information.current_password }}"/>
        {% if revise_error %}<span>{{ revise_error.current_password }}</span>{% endif %}
    </div>
    <div>
        <label for="new_password1">새 비밀번호</label><br />
        <input type="password" name="new_password1" id="new_password1" value="{{ original_information.new_password1 }}"/>
        {% if revise_error %}<span>{{ revise_error.new_password1 }}</span>{% endif %}
    </div>
    <div>
        <label for="new_password2">새 비밀번호 확인</label><br />
        <input type="password" name="new_password2" id="new_password2" value="{{ original_information.new_password2 }}"/>
        {% if revise_error %}<span>{{ revise_error.new_password2 }}</span>{% endif %}
    </div>
    <input type="submit" value="MypageRevise">
</form>
{% endblock content %}