{% extends 'user/main.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage_list.css' %}">
{% endblock css %}

{% block content %}
<div>
  <div class="alert__title-outer">
    <div class="reward__title">
        <h3>나의 업적</h3>
        <button class="bluebtn"><a href="{% url 'user:mypage' %}" style="text-decoration: none;">마이페이지로 돌아가기</a></button>
      </div>
      <div class="data-description">질문하고, 답하고, 그룹에서 열심히 활동하며 배지를 모아보세요! 대표 배지 설정 버튼을 눌러 나의 대표 배지를 고를 수 있답니다.</div>
  </div>

  <div class="mypage__reward__container">
    <div>
      {% for reward in rewards %}
      <div class="mypage__reward">
        <div class="mypage__reward__img__container">
          <img src="{% if reward.id in user_reward %}{{ reward.img }}{% else %}/static/img/reward/unknown.png{% endif %}" alt="rewardimg">
        </div>
        <p class="mypage__reward__name">{{ reward.name }}</p> 
        <p class="mypage__reward__content">{{ reward.info }}</p>
        {% if reward.id in user_reward %}
        <p id="reward-parameter" hidden>{{ user.id }} {{ reward.id }}</p>
        <p id="reward-{{ reward.id }}-date" class="mypage__reward__date"></p>
        <p id="reward-{{ reward.id }}-representative" {% if reward != representative_reward %}hidden{% endif %}>대표 배지로 선택됨</p>
        <button id="reward-{{ reward.id }}-button" onclick="setRepresentativeReward({{ user.id }}, {{ reward.id }})" {% if reward == representative_reward %}hidden{% endif %}>대표 배지 설정</button>
        {% else %}
        <p>미획득</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
    const requestSetRepresentativeReward = new XMLHttpRequest();

    const setRepresentativeReward = (user_id, reward_id) => {
        const url = "/mypage/reward/representative_ajax/";
        requestSetRepresentativeReward.open("POST", url, true);
        requestSetRepresentativeReward.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestSetRepresentativeReward.send(JSON.stringify({user_id: user_id, reward_id: reward_id}));
    };

    const setHandleResponse = () => {
        if (requestSetRepresentativeReward.status < 400) {
            const {previous_id, reward_id} = JSON.parse(requestSetRepresentativeReward.response);
            console.log(previous_id);
            console.log(reward_id);
            const representativeRewardButton1 = document.querySelector(`#reward-${reward_id}-button`);
            representativeRewardButton1.hidden = true;
            const representativeRewardButton2 = document.querySelector(`#reward-${previous_id}-button`);
            representativeRewardButton2.hidden = false;
            const representativeRewardSelected1 = document.querySelector(`#reward-${reward_id}-representative`);
            representativeRewardSelected1.hidden = false;
            const representativeRewardSelected2 = document.querySelector(`#reward-${previous_id}-representative`);
            representativeRewardSelected2.hidden = true;
        }
    };

    requestSetRepresentativeReward.onreadystatechange = () => {
        if (requestSetRepresentativeReward.readyState === XMLHttpRequest.DONE) {
          setHandleResponse();
        }
    };
  </script>

  
<script>
  const requestGetRewardDate = new XMLHttpRequest();

  const getRewardDate = (user_id, reward_id) => {
      const url = "/mypage/reward/date_ajax/";
      requestGetRewardDate.open("POST", url, true);
      requestGetRewardDate.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
      );
      requestGetRewardDate.send(JSON.stringify({user_id: user_id, reward_id: reward_id}));
  };

  const getHandleResponse = () => {
      if (requestGetRewardDate.status < 400) {
          const {reward_id, date} = JSON.parse(requestGetRewardDate.response);
          for (let i = 0; i < reward_id.length; i++) {
            const rewardDate = document.querySelector(`#reward-${reward_id[i]}-date`);
            rewardDate.innerHTML = String(date[i]);
          }
      }
  };

  requestGetRewardDate.onreadystatechange = () => {
      if (requestGetRewardDate.readyState === XMLHttpRequest.DONE) {
        getHandleResponse();
      }
  };

  const rewardIDs = [];
  const rewardParameterTag = document.querySelectorAll('#reward-parameter');
  for (let i = 0; i < rewardParameterTag.length; i++) {
    rewardIDs[i] = rewardParameterTag[i].innerHTML.split(" ")[1];
  }
  try {
    getRewardDate(rewardParameterTag[0].innerHTML.split(" ")[0], rewardIDs);
  } catch (e) {
    console.log(e);
  }
</script>
</div>
{% endblock content %}