{% extends 'base.html' %}

{% block content %}
{% if revise_error %}<span>{{ revise_error }}</span>{% endif %}
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div>
        <label for="nickname">닉네임</label><br />
        <input type="text" name="nickname" id="nickname" value="{{ user.nickname }}"/>
    </div>
    <div>
        <label for="birth">생년월일</label><br />
        <input type="text" name="birth-y" id="birth-y" value="{{ user.birth.year }}"/>년
        <input type="text" name="birth-m" id="birth-m" value="{{ user.birth.month }}"/>월
        <input type="text" name="birth-d" id="birth-d" value="{{ user.birth.day }}"/>일
    </div>
    <div>
        <label for="image">이미지 업로드</label><br />
        <p>{{ form.img }}</p>
        <img src="/static/img/base1.png" height="50">
        <label><input type="radio" name="img_setting" value="base1.png"> 기본 이미지1</label> <!-- value를 기본 파일 이름으로 설정 -->
        <img src="/static/img/base2.jpg" height="50">
        <label><input type="radio" name="img_setting" value="base2.jpg"> 기본 이미지2</input> <!-- value를 기본 파일 이름으로 설정 -->
        <label><input type="radio" name="img_setting" value="own_img" checked> 직접 설정</label> <!-- value를 기본 파일 이름으로 설정 -->
    </div>
    <div>
        <label for="introduction">소개</label><br />
        <textarea name="introduction" id="introduction" cols="30" rows="10" value="{{ user.introduction }}"></textarea>
    </div>
    <div>
        <label for="job">직업</label><br />
        <input type="radio" name="job" value="elementary_school" {% if user.job == 'elementary_school' %}checked{% endif %}/>초등학생
        <input type="radio" name="job" value="middle_school" {% if user.job == 'middle_school' %}checked{% endif %}/>중학생
        <input type="radio" name="job" value="high_school" {% if user.job == 'high_school' %}checked{% endif %}/>고등학생
        <input type="radio" name="job" value="university" {% if user.job == 'university' %}checked{% endif %}/>대학생
        <input type="radio" name="job" value="programmer" {% if user.job == 'programmer' %}checked{% endif %}/>개발자
        <input type="radio" name="job" value="parents" {% if user.job == 'parents' %}checked{% endif %}/>학부모
        <input type="radio" name="job" value="etc" {% if user.job == 'etc' %}checked{% endif %}/>기타
    </div>
    <div>
        <label for="current_password">현재 비밀번호</label><br />
        <input type="password" name="current_password" id="current_password"/>
    </div>
    <div>
        <label for="new_password1">새 비밀번호</label><br />
        <input type="password" name="new_password1" id="new_password1"/>
    </div>
    <div>
        <label for="new_password2">새 비밀번호 확인</label><br />
        <input type="password" name="new_password2" id="new_password2"/>
    </div>
    <input type="submit" value="MypageRevise">
</form>
{% endblock content %}