{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/singup_success.css' %}">
{% endblock %}

{% block title %} 도와줘, 코딩 | 비밀번호 변경 {% endblock %}

{% block content %}

<div class="email__box">
    <span class="email-text">{{ email }}</span>
</div>

<div class="signup__success">
    <p class="signup__success--message">
    <span>비밀번호가 변경되었어요!</span>
    <span>아래 버튼을 눌러 다시 로그인해주세요.</span>
    </p>
    <a class="return-main__btn" href="{% url 'user:login' %}">로그인하러 가기</a>
</div>

{% endblock content %}